@charset "utf-8";
/* CSS Document */ 
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* if you want to change the font to futura or poppins, learn or downlaod it etc. */
    scroll-behavior: smooth;
}
*{
    box-sizing:border-box;
    margin: 0; 
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba (0,0,0, 0.02);
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
    background-color: #FFFFFF; 
}
.logo img{
    height: 45px;
}
nav ul{ 
    display: flex;
}
nav ul li a{
    height: 50px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #01204F;
    letter-spacing: 1px;
}
.hey {
    color: #39bfbd;
    font-weight: 500;
    font-size: 0.9rem;
    border-bottom: 2px solid #40c6c4;
}
nav ul li a:hover{
    background-color: #8e5572;
    color: #FFFFFF;
    box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
    transition: all ease 0.2s;
}
.headshot img{
    width:100%;
    height: 100%;
    object-fit:contain;
}
.headshot{
    width:600px;
    height: 600px;
}
.content{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
}
.main-text{
    width: 500px;
}
.main-text h1{
    font-size: 3.5rem;
    color:#56A3A6;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}
.main-text p{
    color: #01204F;
}
.portfolio-btn,
.resume-btn,
.recent-btn,
.recommendations-box a,
.project123-box-text a{
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #FFFFFF;
    background-color: #01204F;
    border-radius: 20px;
    box-shadow: 4px 10px 30px rgba (24,139,119,0.2);
    margin-top: 10px;
}
.portfolio-btn:hover,
.resume-btn:hover,
.recent-btn:hover,
.recommendations-box a:hover,
.contact-input a:hover{
    background-color:#8e5572;
    transition: all ease 0.2s;
}

/*interest*/
#interests{
    display:flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    margin: auto auto 50px auto;
    background-color: #01204F;
    height:max-content;
    padding:50px;
}
.interest-text{
    width:400px;
}
.interest-img{
    width:550px;
    height:550px;
}
.interest-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.interest-heading span{
    color: #56A3A6;
    font-weight: 500px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
}
.interest-heading h2{
    color:#FFFFFF;
    font-size: 3.3rem;
    margin: 0px;
    font-weight: 400px;
    letter-spacing: 1px;
}
.i-box-container{
    margin-top: 30px;
}
.interest-box{
    display:flex;
    margin: 25px 0px;
}
.i-box-icon{
    margin-right: 15px;
}
.i-box-icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
    font-size: 1.1rem;
}
.i-box-text strong{
    color: #FFFFFF;
    margin: 0px;
    font-size: 0.9 rem;
    font-weight: 600;
}
.i-box-text p{
    color: #56A3A6;
    font-size: 0.9rem; 
}
.fa-running,
.fa-paw{
    color:#8e5572;
}
.fa-pencil-ruler,
.fa-camera-retro{
    color:#56A3A6;
}
#recent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    flex-direction: column;
}
.recent-heading span,
.recommendations-heading span{
    color: #36b7b5;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;
}
.recent-heading h3,
.recommendations-heading h3,
#contact h3{
    color: #1c3548;
    font-size: 3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
}
.recent-img{
    margin: 10px 40px;
}
.recent-img img{
    width: 100%;
    height: 100%;
}
.recent-btn{
    width: 190px;
    margin-top: 20px;
}
#recommendations{
	width:100%;
	border-top: 1px solid rgba(58,58,58,0.03);
	border-bottom: 1px solid rgba(58,58,58,0.03);
	padding: 50px 0px;
	background-color: #01204F;
	background-position: center;
	background-size: 1000px;
}
.recommendations-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.recommendations-heading h3{
    color:#FFFFFF;
    margin-top: 10px;
}
.r-box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin:20px 0px;
}
.recommendations-box {
	width:310px;
	height: 350px;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}
.recommendations-box img{
	width:90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
}
.recommendations-box strong{
	color:#1c3548;
	margin:0px;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top:10px;
}
.recommendations-box h3{
    line-height: 10px;
    margin-top: 15px;
    margin-bottom:10px;
}
.recommendations-box p{
    color:#747474;
    font-size: 0.9rem;
    margin: 0px;
    text-align: center;
    display: block;
    display: -webkit-box;
    max-width: 85%;
    -webkit-line-clamp: 6;
    -webkit-box-orient:vertical;
    overflow:scroll;
    text-overflow: ellipsis;
}
.recommendations-box a{
    width:140px;
    margin-top: 20px;
    border-radius: 0px;
}
.recommendations-box:hover{
    transform: translateY(-10px);
    box-shadow: 5px 10px 30px rgba (0,0,0,0.1);
    transition: allease 0.2s;
}
#contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    background-image: url("1.png");
    background-size: 100%;
}
#contact h3{
    font-size: 40px;
    margin: 50px;
    color: #01204F;
}

.contact-input a{
    width: 200px;
    height: 45px;
    background-color: #1db096;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 20px;
    font-weight: 500;
}
footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rbga(232,232,232,0.5);
    background-color: #FFFFFF;
}
footer p{
    margin: 15px 0px;
    color: #5f5f5f;
    font-size: 0.9rem;
}
/* social media buttons */
.fab {
    padding: 10px;
    font-size: 30px;
    width: 50px;
  }
  
  /* Add a hover effect if you want */
  .fab:hover {
    opacity: 0.7;
  }
  

  /* Instagram */
  .fa-instagram-square {
    background: #FFFFFF;
    color: #5f5f5f;
  }
  /* Linkedin */
  .fa-linkedin{
    background: #FFFFFF;
    color: #5f5f5f;
  }
  /* Facebook */
  .fa-facebook-square {
    background: #FFFFFF;
    color: #5f5f5f;
  }
  
  /* Twitter */
  .fa-twitter-square {
    background: #FFFFFF;
    color:#5f5f5f
  }
/* recent projects */
.projects{
      display: flex;
      justify-content: space-around;
      align-items: center; 
      position: absolute;
      left: 50%;
      top: 40%;
      width: 100%;
      height: 400px;
      transform: translate(-50%, -50%);
      background-color:#01204F;
  }
  .projects-content{
    margin:auto;
    width: 750px;
    /* this is the width of the column */
}
.projects-content h1{
    font-size: 3.5rem;
    color: #FFFFFF;
    line-height:25px;
    text-align:center;
    margin-top: -23px;
    margin-bottom: 50px;
    margin-left:15px;
}
.projects-content p{
    color: #FFFFFF;
    text-align:center;
    line-height: 25px;
    font-size: 17px;
    
}
.projects-content img{
    width: 30%;
    height: 30%;
    position:relative;
    left:250px;
    bottom: 10px;
}
#project123{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	margin:auto auto 50px auto;
}
.project123-text{
	width:400px;
}
.project123-img{
	width:500px;
	height: 500px;
}
.project123-img img{
	width:100%;
	height: 100%;
	object-fit: contain;
}
.project123-heading span{
	color:#36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}
.project123-heading h2{
	color: #1c3548;
	font-size: 3.3rem;
	margin:0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.project123-box-container{
	margin-top: 30px;
}
.project123-box{
	display: flex;
	margin: 25px 0px;
}
.project123-box-text strong{
	color:#01204F;
	margin: 0px;
	font-size: 0.9rem;
	font-weight: 600;
}
.project123-box-text p{
	color:#747474;
	font-size: 0.9rem;
}
/* .project123-box-text a{
    color:#747474;
	font-size: 0.9rem;
} */
